body {
    background-image: url(../images/map.jpg);
}

.gameBox {
    background-color: silver;
    border-style: solid;
    border-width: 2px;
    border-color: crimson;
    height: 420px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

h1 {
    font-family: 'Almendra SC', serif;  
    text-align: center;
    font-size: 44px;
}

h2 {
    font-family: 'IM Fell Double Pica SC', serif;
    text-align: center;
    font-size: 38px;
}

button {
    font-family: 'Almendra SC', serif;  
    font-size: 24px;
    width: 200px;
    height: 40px;

}
